@use 'sass:math';
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap');

//-----------------------------------------------------------//
//Миксины//
@mixin wihe($w, $h) {
    width: $w;
    height: $h;
}

@mixin flf($fs, $lh, $fw) {
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
}

@mixin button($w, $h, $bc, $bs) {
    width: $w;
    height: $h;
    background-color: $bc;
    box-shadow: $bs;
}

//Расчеты
//TO %
@function prc($pxOne, $pxTwo) {
    $result: math.div($pxOne, $pxTwo) * 100%;
    @return $result;
}

//REM
@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}

//EM
@function em($px) {
    $result: math.div($px, 16) + em;
    @return $result;
}

//-----------------------------------------------------------//
body {

    height: 100%;
    background-color: rgb(48, 8, 66);

    a {
        color: inherit;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.title {
    font-family: 'Actor';
    font-weight: 400;
    line-height: 110%;
    background: linear-gradient(97.31deg, #E395FF 0%, #FFFFFF 50.37%, #9C93FF 99.1%);
    background-clip: text;
    color: transparent;
}

.subtitle {
    font-family: 'Actor';
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    color: #fff;
    text-align: left;
}

//--------Header-----------------------------------------------------

.header {

    &__container {
        margin: 30px 40px 0;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }

    &__logo {
        margin: 0 135px 0 0;

        img {
            max-width: 140px;
        }
    }

    &__menu {
        padding: 0 0 0 40px;
    }

    &__info {
        padding: 0 0 0 10px;
    }
}

.menu {

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        font-family: 'Abhaya Libre';
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        color: #9B70FF;

        &:not(:last-child) {
            padding: 0 40px 0 0;
        }
    }
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__button {
        font-family: 'Acme';
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        color: #9B70FF;
        border: 1px solid #110417;
        border-radius: 10px;
        padding: 12px 35px;
        margin: 0 20px 0 0;

        &:hover {
            color: #fff;
            background-image: linear-gradient(90deg, #9E23FF 0%, #FF8237 100%);
        }
    }

    &__items {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &__item {
        font-family: 'Acme';
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        color: #9B70FF;
        padding: 13px 10px;
        border-radius: 5px;
        background: rgba(155, 112, 255, 0.2);

        &:not(:last-child) {
            margin: 0 20px 0 0;
        }
    }

    .item-one {
        &::before {
            content: '';
            padding: 0 60px 0 0;
            background-image: url(../img/header/icon01.svg);
            background-repeat: no-repeat;
            background-size: 15px;
        }
    }

    .item-two {
        &::before {
            content: '';
            padding: 0 24px 0 0;
            background-image: url(../img/header/icon02.svg);
            background-repeat: no-repeat;
            background-size: 15px;
        }

    }
}

//----------Main-----------------------------------------------------

main {
    flex: 1 1 auto;
}

//-------Pages------------------------------------------------------------
.page {

    &__yel {}
}

.page {

    &__project {}
}

//-------Yel-------------------------------------------------------------

.yel {
    margin: 190px 0 70px 0;

    &__container {}

    &__title {
        font-size: 80px;
        padding: 0 0 30px 0;
    }

    &__text {
        font-family: 'Acme';
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: rgba(255, 255, 255, 0.6);
    }
}

//-----------Project--------------------------------------------------------

.project {
    margin: 0 0 180px 0;

    &__container {}

    &__row {
        display: block;
        text-align: right;
        padding: 60px 110px 50px;
        background: radial-gradient(rgba(87, 20, 243, 0.3) 0%, rgba(71, 2, 230, 0) 100%);
    }

    &__details {
        padding: 0 0 40px 0;
    }

    &__pool {
        padding: 0 0 40px 0;
    }

    &__button {
        display: inline-block;
        font-family: 'Actor';
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        color: #9B70FF;
        text-transform: uppercase;
        background: rgba(204, 182, 255, 0.08);
        padding: 18px 76px;

        &:hover {
            color: #fff;
            background-image: linear-gradient(90deg, #9E23FF 0%, #FF8237 100%);
        }
    }
}

//-----Details----------------------------------------------------------------
.details {

    &__subtitle {
        padding: 0 0 40px 0;
    }

    &__forms {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px 25px;


        input {
            color: rgba(255, 255, 255, 0.4);
            max-width: 340px;
            padding: 20px;
            background: rgba(204, 182, 255, 0.08);
            border-radius: 10px;

        }
    }
}

//------Pool-------------------------------------------------------------

.pool {

    &__subtitle {
        padding: 0 0 30px 0;
    }

    &__forms {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
        gap: 20px 25px;

        input {
            color: rgba(255, 255, 255, 0.4);
            max-width: 340px;
            padding: 20px;
            background: rgba(204, 182, 255, 0.08);
            border-radius: 10px;
        }

        textarea {
            width: 100%;
            height: 150px;
            grid-column: 1 / span 3;
            grid-row: 3;
            color: rgba(255, 255, 255, 0.4);
            padding: 20px;
            background: rgba(204, 182, 255, 0.08);
            border-radius: 10px;
        }
    }
}

//--------Footer-----------------------------------------------------

.footer {
    background-color: rgba(51, 12, 69, 1);

    &__top {}

    &__bottom {
        padding: 0 0 36px 0;
    }
}

//-------Top Footer------------------------------------------------------------
.top-footer {

    &__container {
        padding: 120px 0 156px 0;
    }

    &__title {
        text-align: center;
        font-size: 30px;
        padding: 0 0 27px 0;
    }

    &__socials {}
}


.socials {

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        background-color: rgba(155, 112, 255, 0.1);
        border-radius: 10px;
        padding: 14px;

        img {
            max-width: 21.67px;
        }

        &:not(:last-child) {
            margin: 0 20px 0 0;
        }
    }
}

//------Bottom Footer------------------------------------------------------------------
.bottom-footer {


    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 100px 0 0 0;
        border-top: 1px solid rgba(198, 255, 112, 0.5);
    }

    &__logo {
        img {
            max-width: 113px;
        }
    }

    &__menu {}
}

.footer-menu {

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        font-family: 'Abril Fatface';
        font-weight: 400;
        font-size: 16px;
        line-height: 110%;
        color: rgba(255, 255, 255, 0.6);

        &:not(:last-child) {
            padding: 0 40px 0 0;
        }
    }
}